<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Freeduck CLI"
           Manufacturer="iterate GmbH"
           Version="$(ProductVersion)"
           UpgradeCode="6FFD3A72-AB8F-42B1-AEEA-1B3D7D6AC5FE">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="true" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER"
                 Name="!(bind.Property.ProductName)">
        <Files Include="$(duck.TargetDir)**">
          <Exclude Files="$(duck.TargetDir)**.pdb" />
        </Files>

        <Component Id="SetEnvironment"
                   Guid="B50970EA-451D-4D11-A5B0-37D407709901">
          <Environment Id="PathVar"
                       Action="set"
                       Part="last"
                       Name="PATH"
                       Permanent="no"
                       System="yes"
                       Value="[INSTALLFOLDER]" />
        </Component>
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
